.wrapper {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.btn {
    font-size: 36px;
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid #ececec;
    cursor: pointer;
    background-color: transparent;
    color: #ececec;
    transition: border 0.3s;
}

.btnGood:hover {
    border: 2px solid #21b906;
}

.btnNeutral:hover {
    border: 2px solid #d4d800;
}

.btnBad:hover {
    border: 2px solid #c90202;
}

.btnReset:hover {
    background-color: #9c9c9c;
    border: none;
}